# VARIABLE

A VARIABLE IS A NAME THAT REFERS TO A MEMORY LOCATION WHERE A VALUE IS STORED.

SYNTAX

VARIABLE_NAME=VALUE

A=5

VARIABLE ALSO CALLED AS OBJECT AND ALSO CALLED AS IDENTIFIER WHICH HELPS TO ASSIGN A VALUE.

1.VALUE IDENTIFIER

2.FUCTION IDENTIFIER

3.CLASS IDENTIFIER

4.MODULE IDENTIFIER

VARIABLE NAME= VALUE BUT (VALUE!=VARIABLE)

VARIABLES CAN STORE ANY TYPE OF DATA, INCLUDING NUMBERS, STRINGS, LISTS, DICTIONARIES, OBJECTS, ETC.

VARIABLES ARE DYNAMIC, MEANING THEIR TYPE IS AUTOMATICALLY DETERMINED BY THE VALUE ASSIGNED TO THEM, AND THEY CAN CHANGE TYPE DURING EXECUTION.|

RULEWS OF VARIABLE

# VAIRABLE IS A CASE SENSITIVE I.E EG : AGE, AGE, AND AGE ARE DIFFERENT VARIABLES.

# MUST START WITH A LETTER I.E EG : (A-Z, A-Z) OR AN UNDERSCORE (_).

# CAN CONTAIN LETTERS, DIGITS (0-9), AND UNDERSCORES, BUT CANNOT START WITH A DIGIT.

# CANNOT BE A PYTHON KEYWORD I.E E.G : TRUE, FALSE, IF, FOR, CLASS, ETC.

# VAIRABLE HAS NO NUMBER LENGTH LIMIT.

In [7]:
# to know about the version we are using
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [9]:
# toknow keywords in python
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
len(keyword.kwlist)

35

In [21]:
a=10

In [23]:
a

10

In [29]:
a1,a2=20,30 # when we don't use print statement. only last one we typed variable value only printed 
a1
a2

30

In [31]:
# if we need to print both variable values at a time we need use print statement
print(a)
print(a2)
print(a1)
print(len(keyword.kwlist))

10
30
20
35

# PRINT RESULT WITH STRING

In [35]:
a=45
b=56
c=a+b
print("the addition of ",a,'and',b,"is",c)

the addition of  45 and 56 is 101

In [37]:
age=23
name="KATTA SRI SAI PRAVEEN"
city='vijayawada'

In [39]:
print('My name is',name,'and i am',age,'years old form',city)

My name is KATTA SRI SAI PRAVEEN and i am 23 years old form vijayawada

In [41]:
a=45
b=56
c=a+b
print('The addition of {} and {} is= {}'.format(a,b,c))

The addition of 45 and 56 is= 101

In [45]:
age=23
name="KATTA SRI SAI PRAVEEN"
city='vijayawada'

In [47]:
print('hello my name is {}, and i am {} years old from {} '.format(name,age,city))

hello my name is KATTA SRI SAI PRAVEEN, and i am 23 years old from vijayawada

In [50]:
a=30
b=825 
c=433 
avg=(a+b+c)/3 # or we can use avg=round(num1+num2+num3)/3,2) 
avg1=round((a+b+c)/3,2) 
# The avrage of a,b,c is = avg 
print('The avrage of {}, {}, and {} is= {} or {}'.format(a,b,c, 
avg,avg1)) # here we can use round(avg,2) also

The avrage of 30, 825, and 433 is= 429.3333333333333 or 429.33

In [54]:
round(avg,2)

429.33

More short format meythod(f string method) 

variable should be in curly braces  

and write everything inside quots ''  

at starting simpaly add f

In [57]:
a=45
b=56
c=a+b
print(f'The addition of {a} and {b} is= {c}')

The addition of 45 and 56 is= 101

In [63]:
age=23
name="KATTA SRI SAI PRAVEEN"
city='vijayawada'
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is KATTA SRI SAI PRAVEEN, and i am 23 year old, from vijayawada.

In [65]:
age=23
name="KATTA SRI SAI PRAVEEN"
city='vijayawada'
print('My name is',name,'and i am',age,'years old form',city) 
print('hello my name is {}, and i am {} years old from {} '.format(name,age,city))
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

My name is KATTA SRI SAI PRAVEEN and i am 23 years old form vijayawada
hello my name is KATTA SRI SAI PRAVEEN, and i am 23 years old from vijayawada
hello my name is KATTA SRI SAI PRAVEEN, and i am 23 year old, from vijayawada.

END STATEMENT

We will use end statement that joint line from end of one string to starting of other 
string

In [74]:
print('sri sai')
print('praveen katta')

sri sai
praveen katta

In [76]:
print('sri sai', end=' ') # 1st statement 
print('praveen katta') # 2nd statement

sri sai praveen katta

In [ ]:
STRING SEPARATOR

here one print statement only we use 
 
insisde one print statement we have multipal values 
 
we want to seperate these multipal values with anything

In [80]:
print('katta','sri','sai','praveen',sep='___')

katta___sri___sai___praveen

In [86]:
print('kattasrisaipraveen','gmail.com',sep='@')

kattasrisaipraveen@gmail.com

In [88]:
print('sri sai ','praveen',end=' ') 
print('katta','.',sep='')

sri sai  praveen katta.

# USING VARIABLES IN EXPRESSIONS(+,-,*,/,%):

In [105]:
b=8
b1=3
result=b+b1
print(result)
11
print(a2+b1+a)
247
print(b-b1+a1*a2)
print(b1%b)
3
print(a1/a+b1)
4.2

11
78
605
3
3.4444444444444446

4.2

CHANGING THE VALUE OF A VARIABLE:

In [107]:
cost=300 # inital value 
print(cost)

300

In [109]:
cost=900 # changing value
print(cost)

900

In [111]:
cost # final value

900

In [113]:
cost+a+b1

948

In [115]:
a+b+a2-cost

-817

CONCATENATING STRINGS

In [119]:
first_name="SRI SAI PRAVEEN"
last_name="KATTA"

In [121]:
full_name=first_name+" "+last_name

In [123]:
print(full_name)

SRI SAI PRAVEEN KATTA

In [125]:
k='parvathi katta'
k1='sri ram charan katta'
k2='sri sai praveen katta'
k3='venkayamma'
k_family=k+" "+k1+" "+k2+" "+k3

In [127]:
print(k_family)

parvathi katta sri ram charan katta sri sai praveen katta venkayamma

In [129]:
print(k+k1-k2*k3)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
USING VARIABLE IN A CALCULATION

In [148]:
side=123 # assigning values to a varaiable
side1=143

In [150]:
# calculating the area of a square
area=side*side1

In [152]:
print(area)

17589

In [162]:
a=30
b=25

In [168]:
area2=1/2* a*b
print(area2)

375.0

In [170]:
print(area+area2)

750.0

In [172]:
area*area2

140625.0

In [174]:
area%area2

0.0

# FUNCTION IDENTIFIER

In [177]:
def greet(name):  # greet is valid the function identifier 
    print(f"hello,{name}!")
greet("praveen")

hello,praveen!

In [179]:
def greet(name):  # greet is valid function identifier so we want use only greet because we craeted greet function 
    print(f"hello,{name}!")
return("katta")

SyntaxError: 'return' outside function (1330859038.py, line 3)

 # CLASS IDENTIFIER

In [186]:
class tommy:
    def __init__(born,paws,color):
        born.paws=born
        born.color=color
my_tommy=tommy("3","apple")

# MODULE IDENTIFIER

In [189]:
import math
print(math.pi)

3.141592653589793